html{
    background-color: white;
}

.navbar {
    background-color: rgb(51, 51, 51);
    color: white;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.leftnav{
    max-width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 60px;

    
}

.login {
    max-width: 50%;
    padding-right: 50px;
  }

  .features{
      justify-content: space-around;
      padding-left: 10px;
      padding-right: 10px;
  }

i {
    margin-right: 10px;
}

.flex2{
    background-color: #2093cc;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 30px;
    padding-top: 30px;
}

.headerlist {
    list-style-type: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-left: 10%;
    text-align: center;
}

.headerimage{
    justify-self: flex-start;
    padding-left: 10%;
}

button {
    border: 2px solid white;
    background-color: orange;
    border-radius: 10px;
    color: white;
    padding: 2%;
}