html{
    background-color: white;
}



.navbar {
    background-color: rgb(51, 51, 51);
    color: white;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.leftnav{
    max-width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 60px;

    
}

.login {
    max-width: 50%;
    padding-right: 50px;
  }

  .features{
      justify-content: space-around;
      padding-left: 10px;
      padding-right: 10px;
  }

i {
    margin-right: 10px;
}

.flex2{
    background-color: #2093cc;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1%;
    padding-top: 1%;
}

.headerlist {
    list-style-type: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-left: 10%;
    text-align: center;
}

.headerimage{
    justify-self: flex-start;
    padding-left: 10%;
}

.button1 {
    border: 2px solid white;
    background-color: orange;
    border-radius: 10px;
    color: white;
    padding: 2%;
}

.container {
    background-color: white;
    padding: 1%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    padding-left: 12.5%;
}

.flex3 {
    background-color: #2093cc;
    display: flex;
    color: white;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding: 3%;
}

.flex3-1 {
    max-width: 50%;
}

.flex3-2 {
    max-width: 50%;
}

.lead {
    font-size: larger;
    font-weight: bolder;
}

.bande {
    background-color: white;
    padding: 1%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    padding-left: 12.5%;
}

.flex4 {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin: auto;
    justify-content: center;
    align-items: center;
}


.flex4-1 {
    max-height: 50%;
}

.producthunt {
    max-height: 50%;
}

.final {
    display: flex;
    flex-direction: row;
    margin: 5%;
    justify-content: center;

   
}

.button2 {
    border: 2px solid white;
    background-color: #165882;
    border-radius: 10px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;

}

.button3 {
    border: 2px solid white;
    background-color: orange;
    border-radius: 10px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}

